@font-face {
  font-family: "FlappyBird";
  src: url(../assets/font/FlappyBirdRegular.ttf);
}
body {
  background: #4d4c48;
}

.game__container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.canvas__field {
  border: 5px solid #1f1f1c;
  box-shadow: 5px 5px 30px 10px #1f1f1c;
  background-color: #39accf;
}